<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mvc.dao.sysmanager.login.LoginMapper">
    <select id="getUserAndGroupInfo" parameterType="String" resultType="SysUser" >
     select 
       a.userid,
       a.username,
       a.password,
       a.cnname,
       a.enabled,
       c.groupid,
       c.name groupname,
       c.parentid groupparentid
     from sys_user a,sys_usergroupref b,sys_group c  
     where 
     a.userid=b.userid 
     and b.groupid=c.groupid
     and a.username=#{username}
	</select>
	
	<!-- getGroupInfo -->
	<select id="getGroupAreaInfo" parameterType="String" resultType="SysGroup">
         select groupid,parentid,name,type from SYS_group  start with groupid=#{groupid}  connect by prior PARENTID = groupid 
	</select>
	
	<!-- 个人用户角色查询  -->
	<select id="findRolesStr" parameterType="String" resultType="SysRole">
		select b.code from sys_user a,sys_role b ,sys_user_role c where a.username=#{username}  and a.userid=c.userid and b.roleid=c.roleid  and b.code is not null
	</select>
	
	
	<!-- 个人用户权限查询  -->
	<select id="findPermissionStr" parameterType="String" resultType="SysPermission">
		select * from (
        select distinct d.url, d.type, nvl(d.iconcss,'fa-file-o') iconcss , d.permissionid,d.parentid, d.name,d.sortnum,d.isblanktarget 
       from sys_user a,sys_role b ,sys_user_role c,sys_permission d ,sys_role_permission e 
        where a.username=#{username}
        and a.userid=c.userid 
        and b.roleid=c.roleid  and b.roleid=e.roleid 
        and d.permissionid=e.permissionid  and d.code is not null and d.parentid is not null and d.enabled='1'
        union 
        select distinct c.url, c.type, nvl(c.iconcss,'fa-file-o') iconcss, c.permissionid, c.parentid, c.name,c.sortnum,c.isblanktarget 
         from sys_user a, sys_user_permission b, sys_permission  c 
        where a.username =#{username}
         and a.userid = b.userid and c.permissionid=b.permissionid and c.code is not null and c.parentid is not null and c.enabled='1' 
         union
       select distinct d.url, d.type, nvl(d.iconcss,'fa-file-o') iconcss , d.permissionid,d.parentid, d.name,d.sortnum,d.isblanktarget 
       from SYS_permission d where  url is not null and  d.code is not null and d.enabled='1'  and exists (select 1 from sys_user a,sys_user_role b,sys_role c where a.userid=b.userid and b.roleid=c.roleid and a.username=#{username} and  c.name='admin')
       ) 
       order by to_number(sortnum) 
	</select>
	
	<!-- 保存 -->
	<insert id="saveLoginHashInfo"  parameterType="SysLoginInf">
		insert into SYS_LOGININF(loginhash,logintime,ip,usergent,sessionid)
		values (#{loginhash},sysdate,#{ip},#{usergent},#{sessionid})
	</insert>
	
	<!-- 检验登录权限 -->
	<select id="findLoginInfoByhashcode" parameterType="String" resultType="SysLoginInf">
		select * from SYS_LOGININF where loginhash=#{loginhash} 
	</select>
</mapper>